#buttonContainer {
    opacity: 0;
    position: fixed;
    transition: bottom 1s ease, opacity 1s ease;
    bottom: -200px;;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff; /* ou n'importe quelle couleur de fond souhaitée */
    z-index: 1000;
}

#openModalBtn, #openSummaryModalBtn {
    flex: 1;
    margin: 0 5px; /* Ajoute de l'espace entre les boutons */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Bouton pour fermer la modal */
.close-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

:root {
    --clr-primary: #81d4fa;
    --clr-primary-light: #e1f5fe;
    --clr-primary-dark: #4fc3f7;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --clr-gray600: #2a324b;
    --clr-gray700: #161d34;
    --clr-pending: #fff0c2;
    --clr-pending-font: #a68b00;
    --clr-unpaid: #ffcdd2;
    --clr-unpaid-font: #c62828;
    --clr-paid: #c8e6c9;
    --clr-paid-font: #388e3c;
    --clr-link: #2962ff;
    --radius: 0.2rem;
}

[role="tabpanel"] {
    font-family: 'Mukta', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Assure un espace entre les éléments */
    padding: 20px; /* Optionnel, ajoute un peu de padding autour */
    box-sizing: border-box; /* Assure un bon dimensionnement */
}

.table-container {
    overflow: auto;
    padding: 10px;
    border-radius: 8px;
}

.table-container table {
    font-family: 'Mukta', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-align: left;
}

.table-container table {
    font-family: 'Mukta', sans-serif;
    border-collapse: collapse;
    box-shadow: 0 5px 10px var(--clr-gray600);
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.table-container thead {
    box-shadow: 0 5px 10px var(--clr-gray300);
}

.table-container th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    background-color: var(--clr-gray200);
    color: var(--clr-gray600);
}

.table-container td {
    padding: 1rem 2rem;
}

.table-container a {
    text-decoration: none;
    color: var(--clr-link);
}

.table-container .status {
    border-radius: var(--radius);
    padding: 0.2rem 1rem;
    text-align: center;
}

.table-container .status-pending {
    background-color: var(--clr-pending);
    color: var(--clr-pending-font);
}

.table-container .status-paid {
    background-color: var(--clr-paid);
    color: var(--clr-paid-font);
}

.table-container .status-unpaid {
    background-color: var(--clr-unpaid);
    color: var(--clr-unpaid-font);
}

.table-container .amount {
    text-align: right;
}

/* Alternating row colors */
.table-container tbody tr:nth-child(even) {
    background-color: var(--clr-gray200);
}

.table-container tbody tr:nth-child(odd) {
    background-color: var(--clr-gray100);
}

/* Hover effect */
.table-container tbody tr:hover {
    background-color: var(--clr-gray300);
}

/* Styles pour la modal qui prend tout l'écran */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fond de la modal */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assure que la modal est au-dessus */
}

/* Contenu de la modal */
.modal-content {
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto; /* Scroll si le contenu dépasse en hauteur */
    overflow-x: hidden; /* Pas de scroll horizontal */
}

.modal.fade-in {
    animation: fadeIn 0.3s ease;
}

/* Animation fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Styles pour le backdrop */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Juste en dessous de la modal */
}


/**
APPLY CSS ON GITHUB PROJECT
 */
div[data-testid^="table-group-"]:not([data-testid^="table-group-footer-"]) {
    box-shadow: 0 5px 10px var(--clr-gray300);
    background-color: white;
    margin: 0.5rem;
    width: calc(100% - 4rem) !important;
}

[data-testid^="table-group-footer-"] {
    /*background: grey !important;*/
}

div[data-testid="omnibar"] {
    /*background: lightgray !important;*/
}

div[data-testid^="table-group"] div.gqOVRy:empty {
    display: none;
}

[data-testid^="table-group"] [role="rowgroup"] {
    background-color: var(--clr-primary-light);
    font-size: 0.7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--clr-gray600);
}

[data-testid^="table-group"] [role="row"] {
    height: auto !important;
}

[data-testid^="table-group"] [role="row"] [role="gridcell"] .firrqR {
    font-size: 1rem;
}

[data-testid="table-scroll-container"] .jsdhON {
    padding: 0 2rem;
}

[data-testid^="table-group"] [role="row"]:not([data-testid^="table-group-footer-"]) {
    background-color: white !important;
}

[data-testid^="table-group"] [role="row"]:hover {
    background-color: var(--clr-gray200) !important;
}

[data-testid^="table-group"] .status {
    border-radius: var(--radius);
    /*padding: 0.2rem 1rem;*/
    text-align: center;
}

[data-testid^="table-group"] .status-pending {
    background-color: var(--clr-pending);
    color: var(--clr-pending-font);
}

[data-testid^="table-group"] .status-paid {
    background-color: var(--clr-paid);
    color: var(--clr-paid-font);
}

[data-testid^="table-group"] .status-unpaid {
    background-color: var(--clr-unpaid);
    color: var(--clr-unpaid-font);
}

[data-testid^="table-group"] .amount {
    text-align: right;
}

[data-testid^="table-group"] [data-testid^="single-select-token"] {
    border-radius: 0.2rem;
    width: 100%;
    flex: 1;
    padding: 0.25rem;
    height: auto;
    text-align: center;
    border: none;
}

[data-testid^="table-group"] div:has([data-testid^="single-select-token"]) {
    width: 100%;
    flex: 1;
}

[data-testid^="group-name"] {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--clr-gray600);
}

.gptots-popup {
    display: flex;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 1.5rem;
    width: 300px;
    position: absolute;
    cursor: pointer;
    transition: right 1s ease, opacity 1s ease;
}

#progress-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Fond plus clair pour améliorer la visibilité du texte */
    transition: width 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%
}

#progress-bar {
    position: absolute;
    width: 100%;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    z-index: 0; /* Assurer que la progress-bar est derrière les autres éléments */
}

#progress-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Priorité visuelle pour être devant la progress-bar */
    position: relative;
}

.left-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h4 {
    margin: 0;
    font-size: 16px; /* Taille adaptée à celle de "99%" */
    color: #666; /* Couleur identique à "99%" */
    font-weight: bold;
}

.text-container p {
    margin: 0;
    font-size: 12px; /* Même taille que "raised" */
    color: #666; /* Couleur identique à "raised" */
}

.right-section {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: #666;
    z-index: 1;
    position: relative;
}

.right-section span {
    display: block;
    font-size: 12px;
}
