#openModalBtn, #openSummaryModalBtn {
    display:none;
}

.close-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    float: right;
}

[role="tabpanel"] {
    font-family: 'Mukta', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.table-container {
    overflow: auto;
    padding: 10px;
    border-radius: 8px;
}

.table-container table {
    font-family: 'Mukta', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-align: left;
}

.table-container table {
    font-family: 'Mukta', sans-serif;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #2a324b;
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.table-container thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

.table-container th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    background-color: #eef1f6;
    color: #2a324b;
}

.table-container td {
    padding: 1rem 2rem;
}

.table-container a {
    text-decoration: none;
    color: #2962ff;
}

.table-container tbody tr:nth-child(even) {
    background-color: #eef1f6;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #f9fbff;
}

.table-container tbody tr:hover {
    background-color: #e1e5ee;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal.fade-in {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


[data-testid^="table-group"] [data-testid^="single-select-token"] {
    border-radius: 0.2rem;
    width: 100%;
    flex: 1;
    padding: 0.25rem;
    height: auto;
    text-align: center;
    border: none;
}

[data-testid^="table-group"] div:has([data-testid^="single-select-token"]) {
    width: 100%;
    flex: 1;
}

.gptots-popup {
    display: flex;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 1.5rem;
    width: 300px;
    position: absolute;
    cursor: pointer;
    transition: right 1s ease, opacity 1s ease;
}

#progress-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Fond plus clair pour améliorer la visibilité du texte */
    transition: width 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%
}

#progress-bar {
    position: absolute;
    width: 100%;
    height: 100%; /* Prendre toute la hauteur du conteneur */
    z-index: 0; /* Assurer que la progress-bar est derrière les autres éléments */
}

#progress-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Priorité visuelle pour être devant la progress-bar */
    position: relative;
}

.left-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h4 {
    margin: 0;
    font-size: 16px; /* Taille adaptée à celle de "99%" */
    color: #666; /* Couleur identique à "99%" */
    font-weight: bold;
}

.text-container p {
    margin: 0;
    font-size: 12px; /* Même taille que "raised" */
    color: #666; /* Couleur identique à "raised" */
}

.right-section {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: #666;
    z-index: 1;
    position: relative;
}

.right-section span {
    display: block;
    font-size: 12px;
}
